.katex-html {
    display: none;
}

.submit-button{
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: rgb(112, 112, 112);
    border-width: 1px;
    border-radius: 16px;
    padding: 5%;
    min-width: 80%;
}
.field {
    margin-bottom: 30px;
}

.form-title {
    text-align: center;
}

.form-container{
 display: flex;
 justify-content: center;
}